.header {
  width: 100vw;
  height: fit-content;
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 247, 242);
    border-bottom: 1px solid peachpuff;
    .whattsapp-contact {
      display: flex;
      padding: 5px 10px;
      width: fit-content;
      justify-content: center;
      align-items: center;
    }
    .others-contact {
      padding: 5px 10px;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .reg,
    .reg > a {
      display: flex;
      padding: 5px 10px;
      width: fit-content;
      justify-content: center;
      align-items: center;
      
    }
  }
}
